<h1 class="title">SPK CTL <span class="badge bg-secondary"><%= count %></span></h1>
<ul class="breadcrumbs">
  <li><a href="#">SPK CTL</a></li>
  <li class="divider">/</li>
  <li><a href="#" class="active">Onprosses</a></li>
</ul>

<% let getMonthSpkCtl = ""; if (msg.length !== 0) { %>
<div class="alert alert-success" role="alert"><%= msg %></div>
<% } %> <% let j = 0; tanggalSpkCtl.forEach(element => { %> <% const monthSPKCtl = tanggalSpkCtl[j].getMonth() + 1; const ctlData = spkCtl.filter( element => { const bulan = element.tanggal_kirim_spk_ctl.getMonth() + 1; return `${bulan.toString().padStart(2, '0')}` === `${monthSPKCtl.toString().padStart(2, '0')}`}); %>
<div class="text-start mt-5">
  <h5>Bulan ke : <%= `${monthSPKCtl.toString().padStart(2, '0')}`; %><span class="badge bg-secondary ms-2"><%= ctlData.length %></span></h5>
</div>
<div class="info-data table-responsive">
  <table class="table table-bordered table-container">
    <thead class="table-primary">
      <tr class="text-center">
        <th scope="col">No</th>
        <th scope="col">Claim No.</th>
        <th scope="col">Claimant</th>
        <th scope="col">SOB</th>
        <th scope="col">DOL</th>
        <th scope="col">TSI</th>
        <th scope="col">Estimasi</th>
        <th scope="col">Nilai Penggantian</th>
        <th scope="col">Nilai Salvage</th>
        <th scope="col">Nett Klaim</th>
        <th scope="col">Tanggal SPK</th>
        <th scope="col">Keterangan</th>
        <th scope="col">x</th>
      </tr>
    </thead>
    <tbody>
      <% let no = 1; let totalReserveAmt = 0; let totalEstimasi= 0; let totalNettKlaim = 0; let totalNilaiPeng = 0; let totalNilaiSalvage = 0; ctlData.forEach(element => { %>
      <tr>
        <td><%= no %></td>
        <td>
          <a href="#spgrModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)"> <%=element.no_klaim%> </a>
          <!-- Modal -->
          <form action="/batal-ctl" method="post">
            <div class="modal fade" id="spgrModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.status[element.status.length - 1] %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="container-sm">
                    <h6 class="text-center mt-4">Detail Klaim</h6>
                    <hr />
                  </div>
                  <div class="modal-body">
                    <label for="no_polis" class="col-form-label">No Polis</label><br />
                    <input class="form-control" id="no_polis" name="no_polis" type="text" value="<%= element.no_polis %>" readonly />
                    <label for="branch" class="col-form-label">Branch</label><br />
                    <input class="form-control" id="branch" name="branch" type="text" value="<%= element.branch %>" readonly />
                    <label for="no_klaim" class="col-form-label">No Klaim</label><br />
                    <input class="form-control" id="no_klaim" name="no_klaim" type="text" value="<%= element.no_klaim %>" readonly />
                    <label for="sob" class="col-form-label">SOB</label><br />
                    <input class="form-control" id="sob" name="sob" type="text" value="<%= element.sob %>" readonly />
                    <label for="plat_nomor" class="col-form-label">Claimant</label><br />
                    <input class="form-control" id="plat_nomor" name="plat_nomor" type="text" value="<%= element.plat_nomor %>" readonly />
                    <label for="tsi" class="col-form-label">TSI</label><br />
                    <input class="form-control" id="tsi" name="tsi" type="text" value="<%= element.tsi %>" readonly />
                    <% const day3 = element.dol.getDate(); const month3 = element.dol.getMonth(); const year3 = element.dol.getFullYear(); const formattedDate3 = `${day3.toString().padStart(2, '0')}-${month3.toString().padStart(2,
                    '0')}-${year3}`; %>
                    <label for="dol" class="col-form-label">DOL</label><br />
                    <input class="form-control" type="text" value="<%= formattedDate3 %>" readonly />
                    <input class="form-control" id="dol" name="dol" type="text" value="<%= element.dol %>" readonly hidden />
                    <label for="estimasi_awal" class="col-form-label">Estimasi Awal</label><br />
                    <input class="form-control" id="estimasi_awal" name="estimasi_awal" type="text" value="<%= element.estimasi_awal %>" readonly />
                    <label for="reserve_amt" class="col-form-label">Reserve Amt</label><br />
                    <input class="form-control" id="reserve_amt" name="reserve_amt" type="text" value="<%= element.reserve_amt %>" readonly />
                    <label for="tanggal_kirim_spk" class="col-form-label">Tanggal Pengajuan SPK</label><br />
                    <% const day1 = element.tanggal_kirim_spk.getDate(); const month1 = element.tanggal_kirim_spk.getMonth(); const year1 = element.tanggal_kirim_spk.getFullYear(); let formattedDate1 = `${day1.toString().padStart(2,
                    '0')}-${month1.toString().padStart(2, '0')}-${year1}`; %>
                    <input class="form-control" type="text" value="<%= formattedDate1 %>" readonly />
                    <% formattedDate1 = `${year1}-${month1.toString().padStart(2, '0')}-${day1.toString().padStart(2, '0')}`; const tanggalKirimSpk = new Date(formattedDate1) %>
                    <input class="form-control" type="text" name="tanggal_kirim_spk" id="tanggal_kirim_spk" value="<%= tanggalKirimSpk %>" readonly hidden />
                    <% const day2 = element.tanggal_kirim_spk_ctl.getDate(); const month2 = element.tanggal_kirim_spk_ctl.getMonth(); const year2 = element.tanggal_kirim_spk_ctl.getFullYear(); let formattedDate2 =
                    `${day2.toString().padStart(2, '0')}-${month2.toString().padStart(2, '0')}-${year2}`; %>
                    <label for="tanggal_kirim_spk_ctl" class="col-form-label">Tanggal Terbit SPK CTL</label><br />
                    <input class="form-control" type="text" value="<%= formattedDate2 %>" readonly />
                    <% formattedDate2 = `${year2}-${month2.toString().padStart(2, '0')}-${day2.toString().padStart(2, '0')}`; const tglCtl = new Date(formattedDate2)%>
                    <input class="form-control" type="date" value="<%= tglCtl %>" readonly hidden />
                    <label for="nilai_salvage" class="col-form-label">Nilai Salvage</label><br />
                    <input class="form-control" type="text" value="<%= element.nilai_salvage %>" readonly />
                    <label for="nilai_penggantian" class="col-form-label">Nilai Penggantian</label><br />
                    <input class="form-control" type="text" value="<%= element.nilai_penggantian %>" readonly />
                    <label for="nett_klaim" class="col-form-label">Nett Klaim</label><br />
                    <input class="form-control" type="text" value="Rp <%= element.nett_klaim %>" readonly />
                    <input class="form-control" id="keterangan" name="keterangan" type="text" value="<%= element.keterangan %>" readonly hidden />
                    <% for( let i = 0; i < element.status.length; i++ ) { %>
                    <input class="form-control" id="status" name="status" hidden value="<%= element.status[i] %>" />
                    <% } %>
                    <input class="form-control" id="status" name="status" hidden value="Batal CTL" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah anda yakin ?')">Batal CTL</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </td>
        <td><%= element.plat_nomor %></td>
        <td><%= element.sob %></td>
        <% const day = element.dol.getDate(); const month = element.dol.getMonth() + 1; const year = element.dol.getFullYear(); const formattedDate = `${day.toString().padStart(2, '0')}-${month.toString().padStart(2, '0')}-${year}`; %>
        <td><%= formattedDate %></td>
        <td><%= element.tsi %></td>
        <% const numericValue = parseInt(element.reserve_amt.replace(/[^0-9]/g, "")); %> <% totalReserveAmt = totalReserveAmt + numericValue %> <% const estimasiValue = parseInt(element.estimasi_awal.replace(/[^0-9]/g, "")); %> <%
        if(!isNaN(estimasiValue)) {totalEstimasi = totalEstimasi + estimasiValue} %>
        <td id="estimasiAwal">
          <a href="#exampleModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)"> <i class="bi bi-pencil"></i> </a> <%=
          element.estimasi_awal %>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-estimasi-spk-ctl?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Update Estimasi</label><br />
                    <input class="form-control estimasi_awal" id="estimasi_awal" name="estimasi_awal" value="<%= element.estimasi_awal %>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <% let penggantianValue = parseInt(element.nilai_penggantian.replace(/[^0-9]/g, "")); if(!isNaN(penggantianValue)) {totalNilaiPeng = totalNilaiPeng + penggantianValue} %>
          <a href="#penggantianModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)"> <i class="bi bi-pencil"></i> </a> <%=
          element.nilai_penggantian%>
          <!-- Modal -->
          <div class="modal fade" id="penggantianModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-penggantian-spk-ctl?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Update Nilai Penggantian</label><br />
                    <input class="form-control estimasi_awal" id="nilai_penggantian" name="nilai_penggantian" value="<%= element.nilai_penggantian%>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    <input class="form-control" id="nilai_salvage" name="nilai_salvage" value="<%= element.nilai_salvage %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <% let salvageValue = parseInt(element.nilai_salvage.replace(/[^0-9]/g, ""));if(!isNaN(salvageValue)) {totalNilaiSalvage = totalNilaiSalvage + salvageValue} %>
          <a href="#salvageModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)"> <i class="bi bi-pencil"></i> </a> <%=
          element.nilai_salvage%>
          <!-- Modal -->
          <div class="modal fade" id="salvageModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-salvage-spk-ctl?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Update Nilai Salvage</label><br />
                    <input class="form-control estimasi_awal" id="nilai_salvage" name="nilai_salvage" value="<%= element.nilai_salvage%>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    <input class="form-control" id="nilai_penggantian" name="nilai_penggantian" value="<%= element.nilai_penggantian %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <% if(isNaN(penggantianValue)){penggantianValue = 0}; if(isNaN(salvageValue)){salvageValue = 0}; let nettKlaim =penggantianValue - salvageValue; %>
        <td>Rp <%=nettKlaim.toLocaleString() %></td>
        <%totalNettKlaim = totalNettKlaim + nettKlaim%> <% const day5 = element.tanggal_kirim_spk_ctl.getDate(); const month5 = element.tanggal_kirim_spk_ctl.getMonth() + 1; const year5 = element.tanggal_kirim_spk_ctl.getFullYear(); const
        formattedDate5 = `${day5.toString().padStart(2, '0')}-${month5.toString().padStart(2, '0')}-${year5}`; getMonthSpkCtl = `${month5.toString().padStart(2, '0')}`%>
        <td><%= formattedDate5 %></td>
        <td>
          <a href="#ketModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.keterangan %>
          <!-- Modal -->
          <div class="modal fade" id="ketModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-keterangan-spk-ctl?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="keterangan" style="height: 100px" required><%= element.keterangan %></textarea>
                      <label for="floatingTextarea2">Tambah keterangan</label>
                    </div>
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td class="text-center">
          <a href="#deleteModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-danger" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-trash"></i>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="deleteModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/delete-spk-ctl?_method=DELETE" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus <%=element.no_klaim %>?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="alasan" name="alasan" style="height: 100px" required></textarea>
                      <label for="floatingTextarea2">Alasan dihapus...</label>
                    </div>
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% no++ }); %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Rp <%= totalEstimasi.toLocaleString() %></td>
      <td>Rp <%= totalNilaiPeng.toLocaleString() %></td>
      <td>Rp <%= totalNilaiSalvage.toLocaleString() %></td>
      <td>Rp <%= totalNettKlaim.toLocaleString() %></td>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>
  </table>
</div>

<% j++}); %>
