<h1 class="title">Hasil Investigasi & Pembayaran <span class="badge bg-secondary"><%= count %></span></h1>
<ul class="breadcrumbs">
  <li><a href="#">Investigasi</a></li>
  <li class="divider">/</li>
  <li><a href="#" class="active">Hasil Investigasi & Pembayaran</a></li>
</ul>

<hr>

<%  if (msg.length !== 0) { %>
<div class="alert alert-success" role="alert"><%= msg %></div>
<% } %> <% let i = 0;investigatorNames.forEach(element => { %>
  <% const investigatorData = data.filter(element => element.investigator === investigatorNames[i]); %>
<div class="text-start mt-5"><h5><%= investigatorNames[i] %> <span class="badge bg-secondary"><%= investigatorData.length %></span></h5></div>
<div class="info-data table-responsive">
   <% if
  (investigatorData.length === 0 ) { %>
  <div class="text-center"><h4>Tidak ada data</h4></div>
  <%} else { %>
  <table class="table  table-bordered table-container">
    <thead class="table-primary text-center">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Claim No.</th>
        <th scope="col">Claimant</th>
        <th scope="col">SOB</th>
        <th scope="col">Tgl Kirim Surat</th>
        <th scope="col">Tgl Terima LHS</th>
        <th scope="col">Aging</th>
        <th scope="col">Hasil Inv</th>
        <th scope="col">Status Claim</th>
        <th scope="col">Estimasi</th>
        <th scope="col">Tgl Terima Invoice</th>
        <th scope="col">Biaya Akomodasi</th>
        <th scope="col">Success Fee</th>
        <th scope="col">Total Tagihan</th>
        <th scope="col">Tgl Payment</th>
        <th scope="col">PDV</th>
        <th scope="col">Status Payment</th>
        <th scope="col">#1</th>
        <th scope="col">x</th>
      </tr>
    </thead>
    <tbody>
      <% let j = 1; var totalTagihanValue = 0;let totalEstimasi= 0; let formattedDate3 = "-"; let formattedDate2 = "-";let formattedDate1 = "-"; let formattedDate4 = "-"; investigatorData.forEach(element => { %>
      <tr>
        <td><%= j %></td>
        <td><%= element.no_klaim %> <i class="bi bi-box-arrow-in-down-right"></i></td>
        <td><%= element.plat_nomor %></td>
        <td><%= element.sob %></td>
        <% const day = element.tanggal_kirim_surat.getDate(); const month = element.tanggal_kirim_surat.getMonth() + 1; const year = element.tanggal_kirim_surat.getFullYear(); let formattedDate = `${day.toString().padStart(2,
        '0')}-${month.toString().padStart(2, '0')}-${year}`; %>
        <td><%= formattedDate %></td>
        <% const day1 = element.tanggal_terima_lhs.getDate(); const month1 = element.tanggal_terima_lhs.getMonth() + 1; const year1 = element.tanggal_terima_lhs.getFullYear(); let formattedDate1 = `${day1.toString().padStart(2,
        '0')}-${month1.toString().padStart(2, '0')}-${year1}`; %>
        <td><%= formattedDate1 %></td>
        <td><%=element.aging_investigasi%></td>
        <td>
          <a href="#hasilInvestigasiModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
            <%=element.hasil_investigasi%>
          <!-- Modal -->
          <div class="modal fade" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% if(element.hasil_investigasi === "Claimable") { %>  
                        <label for="checkboxNoLabel" class="form-check-label">Claimable ? </label> 
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="Claimable" aria-label="Claimable ? " onclick="disabledClaimInput('check1<%element._id%>')">
                        <div id="check1<%element._id%>" class="check-input">
                          <label for="tanggal_feedback" class="col-form-label">Tanggal Pengajuan SPK</label>
                          <input class="form-control input1" id="tanggal_kirim_spk" name="tanggal_kirim_spk" type="date" required disabled/>
                        </div>
                      <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                      <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    <% } else {%>
                      <label for="checkboxNoLabel" class="form-check-label">Not Claimable ? </label> 
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="Not Claimable" aria-label="Not Claimable ? " onclick="disabledNotClaimInput('check2<%element._id%>')">
                        <div id="check2<%element._id%>" class="check-input">
                          <label for="floatingTextarea2">Keterangan</label>
                          <textarea class="form-control input2" placeholder="Masukkan keterangan..." id="floatingTextarea2" style="height: 100px" name="keterangan_claimclosed" required disabled></textarea>
                        </div>
                      <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                      <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    <%} %>
                  </div>
                  <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btn-inv" disabled>Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="#statusModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.status_claim %>
          <!-- Modal -->
          <div class="modal fade" id="statusModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-status-claim-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="status_claim" style="height: 100px" required><%= element.status_claim %></textarea>
                      <label for="floatingTextarea2">Status Claim</label>
                    </div>

                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="#estimasiModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <% if(element.estimasi_awal != null) { const estimasiValue = parseInt(element.estimasi_awal.replace(/[^0-9]/g, "")); %> <% if(!isNaN(estimasiValue)) {totalEstimasi = totalEstimasi + estimasiValue} }%>
          <%= element.estimasi_awal%>
          <!-- Modal -->
          <div class="modal fade" id="estimasiModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-estimasi-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Estimasi</label><br />
                    <input class="form-control estimasi_awal" id="estimasi_awal" name="estimasi_awal" value="<%= element.estimasi_awal %>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="#invoiceModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <% if (element.tanggal_terima_invoice != null) { const day2 = element.tanggal_terima_invoice.getDate(); const month2 = element.tanggal_terima_invoice.getMonth() + 1; const year2 = element.tanggal_terima_invoice.getFullYear(); formattedDate2 =
          `${day2.toString().padStart(2, '0')}-${month2.toString().padStart(2, '0')}-${year2}`; } else { formattedDate2 = "-" } %> <%= formattedDate2 %>
          <!-- Modal -->
          <div class="modal fade" id="invoiceModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-invoice-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_feedback" class="col-form-label"> Tanggal Terima Invoice</label>
                    <% let oldInvoice = new Date(element.tanggal_terima_invoice)%>
                    <% var dd = String(oldInvoice.getDate()).padStart(2, '0');
                      var mm = String(oldInvoice.getMonth() + 1).padStart(2, '0'); 
                      var yyyy = oldInvoice.getFullYear();
                      oldInvoice = yyyy + '-' + mm + '-' + dd;%>
                    <input class="form-control" id="tanggal_terima_invoice" name="tanggal_terima_invoice" value="<%= oldInvoice %>" type="date" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    <input class="form-control" id="tanggal_payment" name="tanggal_payment" value="<%= element.tanggal_payment %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="#akomodasiModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.biaya_akomodasi %>
          <!-- Modal -->
          <div class="modal fade" id="akomodasiModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-akomodasi-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Biaya Akomodasi</label><br />
                    <input class="form-control estimasi_awal" id="biaya_akomodasi" name="biaya_akomodasi" value="<%= element.biaya_akomodasi %>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="success_fee" name="success_fee" value="<%= element.success_fee %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="#succesFeeModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.success_fee%>
          <!-- Modal -->
          <div class="modal fade" id="succesFeeModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-success-fee-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Success Fee</label><br />
                    <input class="form-control estimasi_awal" id="success_fee" name="success_fee" value="<%= element.success_fee %>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="biaya_akomodasi" name="biaya_akomodasi" value="<%= element.biaya_akomodasi %>" hidden />
                    <input class="form-control" id="total_tagihan" name="total_tagihan" value="<%= element.total_tagihan %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <% if (element.total_tagihan != null){let tagihanValue = parseInt(element.total_tagihan.replace(/\./g, '')); totalTagihanValue = totalTagihanValue + tagihanValue } %>
        <td>Rp <%= element.total_tagihan %></td>
        <%if (element.tanggal_terima_invoice != null) { %>
          <td>
            <a href="#tglPaymentModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
              <i class="bi bi-pencil"></i>
            </a>
            <% if (element.tanggal_payment != null) { const day3 = element.tanggal_payment.getDate(); const month3 = element.tanggal_payment.getMonth() + 1; const year3 = element.tanggal_payment.getFullYear(); formattedDate3 =
            `${day3.toString().padStart(2, '0')}-${month3.toString().padStart(2, '0')}-${year3}`; } else { formattedDate3 = "-" } %> <%= formattedDate3 %>
            <!-- Modal -->
            <div class="modal fade" id="tglPaymentModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/update-tgl-payment-hasil-investigasi?_method=PUT" method="post">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% let oldPayment = new Date(element.tanggal_payment)%>
                      <% var dd = String(oldPayment.getDate()).padStart(2, '0');
                        var mm = String(oldPayment.getMonth() + 1).padStart(2, '0'); // Januari adalah 0!
                        var yyyy = oldPayment.getFullYear();
                        oldPayment = yyyy + '-' + mm + '-' + dd;%>
                      <input type="hidden" name="status" value="<%=element.status[element.status.length - 1]%>" />
                      <label for="tanggal_feedback" class="col-form-label">Tanggal Payment</label>
                      <input class="form-control" id="tanggal_payment" name="tanggal_payment" value="<%= oldPayment %>" type="date" />
                      <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                      <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                      <input class="form-control" id="tanggal_terima_invoice" name="tanggal_terima_invoice" value="<%= element.tanggal_terima_invoice %>" hidden />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </td>
        <% } else { %> 
          <td>
            <a href="" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
              
            </a>
          </td>
        <% }%>
        <td>
          <a href="#pdvModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.pdv %>
          <!-- Modal -->
          <div class="modal fade" id="pdvModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-pdv-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">PDV</label><br />
                    <input class="form-control" id="pdv" name="pdv" value="<%= element.pdv %>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="#statusPayModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.status_payment %>
          <!-- Modal -->
          <div class="modal fade" id="statusPayModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-status-payment-hasil-investigasi?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" name="status" value="<%=element.status[element.status.length - 1]%>" />
                    <label for="sob" class="col-form-label">Status Payment</label>
                    <div class="input-group mb-3">
                      <select class="form-select" name="status_payment" id="status_payment">
                        <option value="" <% if(element.status_payment == "") {%> selected <%}%> >BELUM DITENTUKAN</option>
                        <option value="PAID" <% if(element.status_payment == "PAID") {%> selected <%}%> >PAID</option>
                        <option value="UNPAID" <% if(element.status_payment == "UNPAID") {%> selected <%}%> >UNPAID</option>
                      </select>
                    </div>
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td class="aging_payment" id="aging<%=element._id%>"><a href="#" data-bs-toggle="popover" data-bs-title="<%=element.no_klaim%>" data-bs-content='Aging'><%=element.aging_payment%></a></td>
        <td class="text-center">
          <a href="#deleteModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-danger" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-trash"></i>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="deleteModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/delete-claim-selesai-investigasi?_method=DELETE" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus <%=element.no_klaim %>?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="alasan" name="alasan" style="height: 100px" required></textarea>
                      <label for="floatingTextarea2">Alasan dihapus...</label>
                    </div>
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                    <input class="form-control" id="hasil_investigasi" name="hasil_investigasi" value="<%= element.hasil_investigasi %>" hidden />
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% j++}); %>
    </tbody>
    <tfoot class="table-warning">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Rp <%=totalEstimasi.toLocaleString('id-ID')%></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Rp <%=totalTagihanValue.toLocaleString('id-ID')%> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tfoot>
  </table>
  <% } %>
</div>
<% i++}); %>
