<h1 class="title"> Final Rejection <span class="badge bg-secondary"><%= count %></span></h1>
<ul class="breadcrumbs">
  <li><a href="#">Claim Rejection</a></li>
  <li class="divider">/</li>
  <li><a href="#" class="active">Final Rejection</a></li>
</ul>

<hr>

<% let getMonthDdc = ""; let uniqueMonths = new Set(); if (msg.length !== 0) { %>
<div class="alert alert-success" role="alert"><%= msg %></div>
<% } %> <% let i = 0; dueDateClosed.forEach(element => { %> <% const monthDdc = dueDateClosed[i].getMonth() + 1 ; %> 
  <% if (!uniqueMonths.has(monthDdc)) { %>
    <% uniqueMonths.add(monthDdc); %>
  <% const ddcData = data.filter(element =>  { const bulan = element.ddc.getMonth() + 1; return `${bulan.toString().padStart(2, '0')}`  === `${monthDdc.toString().padStart(2, '0')}`}); %>
  <% console.log(ddcData) %>
  <div class="text-start mt-5"><h5>Bulan ke : <%= `${monthDdc.toString().padStart(2, '0')}`; %><span class="badge bg-secondary ms-2"><%= ddcData.length %></span></h5></div>
  <div class="info-data table-responsive">
   <% if
  (dueDateClosed.length === 0 ) { %>
  <div class="text-center"><h4>Tidak ada data</h4></div>
  <%} else { %>
  <table class="table  table-bordered table-container">
    <thead class="table-primary text-center">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Claim No.</th>
        <th scope="col">Claimant</th>
        <th scope="col">SOB</th>
        <th scope="col">TSI</th>
        <th scope="col">Estimasi</th>
        <th scope="col">Reserve amt</th>
        <th scope="col">Tgl Kirim Surat</th>
        <th scope="col">Due Date Closed</th>
        <th scope="col">Keterangan</th>
        <th scope="col">Status</th>
        <th scope="col">x</th>
      </tr>
    </thead>
    <tbody>
      <% let j = 1; let totalReserve = 0; ddcData.forEach(element => { %>
      <tr>
        <td><%= j %></td>
        <td>
          <a href="/klaim/<%=element._id%>"><%= element.no_klaim %> <i class="bi bi-box-arrow-in-down-right"></i></a>
        </td>
        <td><%= element.plat_nomor %></td>
        <td><%= element.sob %></td>
        <td><%= element.tsi %></td>
        <td><%= element.estimasi_awal %></td>
        <% const reserveValue = parseInt(element.reserve_amt.replace(/[^0-9]/g, "")); %> <% if(!isNaN(reserveValue)) {totalReserve = totalReserve + reserveValue} %>
        <td><a href="#reserveModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-primary" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-pencil"></i>
          </a>
          <%= element.reserve_amt %>
          <!-- Modal -->
          <div class="modal fade" id="reserveModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update-reserve-amt-final-closed?_method=PUT" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.no_klaim %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="tanggal_terima_surat_tolak" class="col-form-label">Biaya Akomodasi</label><br />
                    <input class="form-control estimasi_awal" id="reserve_amt" name="reserve_amt" value="<%= element.reserve_amt %>" />
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="success_fee" name="success_fee" value="<%= element.success_fee %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div></td>
        <% const day = element.tanggal_terima_surat_tolak.getDate(); const month = element.tanggal_terima_surat_tolak.getMonth() + 1; const year = element.tanggal_terima_surat_tolak.getFullYear(); const formattedDate =
        `${day.toString().padStart(2, '0')}-${month.toString().padStart(2, '0')}-${year}`; %>
        <td><%= formattedDate %></td>
        <% const day1 = element.ddc.getDate(); const month1 = element.ddc.getMonth() + 1; const year1 = element.ddc.getFullYear(); const formattedDate1 = `${day1.toString().padStart(2, '0')}-${month1.toString().padStart(2, '0')}-${year1}`; getMonthDdc =`${month1.toString().padStart(2, '0')}`; 
        %>
        <td><%= formattedDate1 %></td>
        
        <td><%= element.keterangan_claimclosed %></td>
        <td>
          <a href="#" data-bs-toggle="tooltip" data-bs-title="<%for( let j=0; j < element.status.length; j++){%> <%=j + 1%>. <%=element.status[j] %> <% if(j < element.status.length - 1) { %> => <%} };%> " data-bs-placement="right">
            <%= element.status[element.status.length - 1] %>  
        </td>
        
        <td class="text-center">
          <a href="#deleteModal<%=element._id%>" data-bs-toggle="modal" id="edit" class="icon-link icon-link-hover link-danger" style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)">
            <i class="bi bi-trash"></i>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="deleteModal<%=element._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/delete-final-closed?_method=DELETE" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus <%=element.no_klaim %>?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="alasan" name="alasan" style="height: 100px" required></textarea>
                      <label for="floatingTextarea2">Alasan dihapus...</label>
                    </div>
                    <input class="form-control" id="_id" name="_id" value="<%= element._id %>" hidden />
                    <input class="form-control" id="no_klaim" name="no_klaim" value="<%= element.no_klaim %>" hidden />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Hapus</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% j++}); %>
    </tbody>
    <tfoot class="table-warning">
        <td></td> 
        <td></td> 
        <td></td> 
        <td></td> 
        <td></td> 
        <td></td> 
        <td>Rp <%= totalReserve.toLocaleString('id-ID')%></td> 
        <td></td> 
        <td></td> 
        <td></td> 
        <td></td> 
        <td></td> 
    </tfoot>
  </table>
  <% } %> <% } %> 
</div>
<% i++}); %>
